name: variable-util-azurekv to npmjs
on:
  push:
    branches: [main]
    paths: 
      - "packages/variable-util-azurekv/**"
      - ".github/workflows/variable-util-azurekv.yml"
      - "package.json"
  pull_request:
    branches: [main]
    paths: 
      - "packages/variable-util-azurekv/**"
      - ".github/workflows/variable-util-azurekv.yml"
      - "package.json"

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  module-flow:
    uses: ./.github/workflows/module.yml
    secrets: inherit
    with:
      package-path: packages/variable-util-azurekv